* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open-Sans, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(20deg, #0c0f1e, #143041, #214f5f);
}

#main_box {
    background-color: #0c0f1e;
    padding: 2rem;
    border-radius: 12px;
    width: 50%;
    height: 60%;
    position: center;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0f1e;
    height: 70%;
    width: 100%;
    border: 3px solid #214f5f;
    border-radius: 12px;
    font-size: 500%;
    font-family: Open-Sans;
    color: #ffffff;
    margin-bottom: 2rem;
}

#actions {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#actions button {
    width: 40%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #143141;
    border: 1px solid #214f5f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Open-Sans;
    font-size: 250%;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    touch-action: manipulation;
    transition: background-color 0.3s, box-shadow 0.2s, color 0.3s;
}

#power:hover, #power:active {
  background-color: initial;
  background-position: 0 0;
  color: #ffffff;
}

#reset:hover, #reset:active {
  background-color: initial;
  background-position: 0 0;
  color: #ffffff;
}

#reset:active {
  opacity: .5;
}
